---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import profilePicture from "../images/profile.jpg";
import Divider from "../components/Divider.astro";

// images of the projects
import medicalAdmin from "../images/portfolio/medical.png";
import amigaMag from "../images/portfolio/amiga_screen.webp"
import bsMagazine from "../images/portfolio/bs_revista.webp"
import ubigas from "../images/portfolio/ubigas.jpg"
---

<Layout title="Uriel's Lair.">
  <!-- profile/introduction -->
  <div
    class="about-me flex flex-col space-y-4 items-center text-gruvboxTextColor"
  >
    <img
      class="rounded-full w-64 h-64"
      src={profilePicture}
      alt="profile_picture"
    />
    <h1 class="text-2xl">Uriel Bravo</h1>
    <p class="text-lg text-center">
      I&apos;m an electrical engineer, but I work as a web developer. my current
      position is as a QA Automation engineer
    </p>
  </div>

  <Divider sectionName="Recent projects" />

  <!-- card projects container -->
  <div class="w-full flex flex-col items-center space-y-16">
    <!-- medical admin -->
    <Card
      altText="Medical Admin"
      imageSrc={medicalAdmin}
      categories={["python", "django", "bootstrap"]}
      projectTitle="Patients Admin"
      excerpt="An Admin to register and keep a record of patients"
      linkType="repo"
      linkHref="https://github.com/urielbravo/medical_records"
    />
    <!-- amiga revista -->
    <Card
      altText="AMiga magazine"
      imageSrc={amigaMag}
      categories={["python", "django", "react-native"]}
      projectTitle="Amiga Magazine"
      excerpt="Mobile app for a magazine, the mobile app was made with react native and the CMS with django"
      linkType="store"
      linkHref="https://play.google.com/store/apps/details?id=com.inpoint.revistabs1"
    />
    <!-- Buena salud revista -->
    <Card
      altText="BS magazine"
      imageSrc={bsMagazine}
      categories={["python", "django", "Ionic Framework"]}
      projectTitle="BS Magazine"
      excerpt="Mobile app for a magazine, the mobile app was made with Ionic Framework and the CMS with django"
      linkType="store"
      linkHref="https://play.google.com/store/apps/details?id=com.inpoint.buenasalud2"
    />
    <!-- Ubigas -->
    <Card
      altText="Ubigas"
      imageSrc={ubigas}
      categories={["python", "django", "React Native"]}
      projectTitle="Ubigas"
      excerpt="Mobile app that shows you the location of all the gas stations close to you and their prices, the mobile app was made with React native and the CMS with django"
      linkType="broken"
      linkHref="#"
    />
  </div>
</Layout>
