---
import Category from "./Category.astro";

// Icons import
import githubIcon from '../images/icons/github.svg'
import googlePlayIcon from '../images/icons/google-play.svg'
import brokenLinkIcon from '../images/icons/emoji-dizzy.svg'

export interface Props {
  imageSrc: string;
  altText: string;
  categories: string[];
  projectTitle: string;
  excerpt: string;
  linkType: ("repo" | "store" | "broken")
  linkHref: string
}

const linkIcon = {
    'repo': githubIcon,
    'store': googlePlayIcon,
    'broken': brokenLinkIcon
  }

const { imageSrc, altText, categories, projectTitle, excerpt, linkType, linkHref } = Astro.props;
---

<div class="w-full md:w-2/3 xl:w-1/2 bg-gruvboxDarkBg h-[33rem] xl:h-80 rounded overflow-hidden flex xl:flex-row flex-col shadow-md shadow-gruvboxDarkBg">
  <!-- image -->
  <div class="w-full xl:w-1/2 h-full relative">
    <img
      class="absolute inset-0 w-full h-full object-cover"
      src={imageSrc}
      alt={altText}
    />
  </div>
  <!-- text/info container -->
  <div class="sm:w-1/2 p-5 relative">
    <!-- categories container -->
    <div class="flex flex-wrap space-x-3">
      <!-- for every category, return a category component -->
      {
        categories.map((category) => {
          return <Category categoryName={category} />;
        })
      }
    </div>
    <!-- project title -->
    <h4 class="text-lg font-semibold text-gruvboxTextColor mt-2">
      {projectTitle}
    </h4>
    <!-- project excerpt -->
    <p class="mt-2 text-gruvboxTextColor">{excerpt}</p>
    <!-- project links -->
    <div class="bottom-5 left-5 right-5 absolute text-gruvboxTextColor flex justify-around items-center w-auto">
      <span>Link:</span>
      <!-- showing different icon based on the string that is passed -->
      <a href={linkHref}><img class="w-10 h-10" src={linkIcon[linkType]} alt="Link to Project"></a>
    </div>
  </div>
</div>
